{% extends 'main.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/flota.css' %}">
    <h1>Dałem jak we flocie żeby sprawdzić, że działa wypluwanie</h1>
        <div id="posts">

            <div class="myBechaviour">
                    {% for typ_auta in typy_aut %}
                    <div class="post">
                        <a class="postLink" href="/flota/{{typ_auta.nazwa}}">
                            <div class="postImgContainer">
                                <img src="../{{typ_auta.grafika}}"  alt="">
                            </div>
                            
                            <hr class="postHeaderHR">
                            <div class="postText">
                                <pre>
                                    {{typ_auta.nazwa}}

                                </pre> 
                            </div>
                            <hr class="postFooterHR">
                            <div class="postFooter">
                                <div class="date">Wynajem krótkoterminowy</div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
            </div>
    </div>

{% endblock %}