{% extends 'main.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/flota.css' %}">
    <h2>Wynajem na minuty</h2>


        <table id="tabela_aut" class="table table-striped" style="width: 80%; margin: 1rem auto 4rem auto;">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Typ auta</th>
            <th scope="col">Cena</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for typ_auta in typy_aut %}
                <tr>
                <!-- <th scope="row">1</th> -->
                <td><img src="../{{typ_auta.grafika}}"  alt=""></td>
                <td>{{typ_auta.nazwa}}</td>
                <td>{{typ_auta.cena}} zł/min</td>
                <td> <a class="btn btn-primary" href="/flota/krotkoterminowy/{{typ_auta.nazwa|lower}}">Wynajmij</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}