{% extends 'main.html' %}
{% load static %}



{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/formularz.css' %}" />

{% if message_name %}
<h1>Dzięki {{ user.get_username }} za wiadomość </h1>
{% endif %}
<div class="container" id="formularz_dlugi">

<div id="sectionTitle">Formularz zgłoszeniowy</div>
    
    <form method="POST" action="/dlugoterminowy/wynajmij/{{samochod.typ_auta.slug}}/{{samochod.id}}/">
    {% csrf_token %}


    <div class="form-outline mb-4">
        <input name="imie_nazwisko" type="text" id="form6Example1" value="{{ user.get_full_name }}" class="form-control"  readonly/>
        <label class="form-label" for="form6Example1">Imię i Nazwisko</label>
    </div>

       <!-- Email input -->
    <div class="form-outline mb-4">
        <input name="email" type="email" id="form6Example5" class="form-control" value="{{ user_mail }}" readonly/>
        <label class="form-label" for="form6Example5">Email</label>
    </div>

    <!-- Text input -->
    <div class="form-outline mb-4">
        <input name="username" type="text" id="form6Example3" value={{ user.get_username }} class="form-control" readonly />
        <label class="form-label" for="form6Example5">Nazwa użytkownika</label>
    </div>

    <div class="form-outline mb-4">
        <input name="od" type="date" id="form6Example6" class="form-control" />
        <label class="form-label" for="form6Example6">Od</label>
    </div>

    <div class="form-outline mb-4">
        <input name="do" type="date" id="form6Example6" class="form-control" />
        <label class="form-label" for="form6Example6">Do</label>
    </div>

    <!-- Message input -->
    <div class="form-outline mb-4">
        <input name="samochod" type="text" id="form6Example6" class="form-control" value="{{ samochod }}" readonly />
        <label class="form-label" for="form6Example7">Samochód</label>
    </div>

    <!-- Submit button -->
    <button id="zatwierdz" type="submit" class="btn btn-primary btn-block mb-4">Wyślij formularz, a my się z Tobą skontaktujemy</button>
    </form>
</div> 

<script>
    // Data Picker Initialization
    $('.datepicker').datepicker({
    inline: true
    });
</script>


{% endblock %}