{% extends 'main.html' %} {% load static %} {% block content %}

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"
></script>

<link rel="stylesheet" href="/static/css/przeglad_dlugoterminowy.css" />

<div class="sectionTitle">Wynajem długoterminowy</div>
<div id="posts">
  <div class="myBechaviour">
    {% for samochod in samochody %}
    <div class="post">
      <div name="rent" class="postLink">
        <div class="postImgContainer">
          <img src="/{{samochod.image}}" alt="" />
        </div>

        <div class="divHR"></div>
        <div class="postText">
          <pre>
            {{samochod.marka}} {{samochod.model}}

        </pre
          >
        </div>
        <div class="divHR"></div>
        <div class="postFooter">
            <p>
              <img class="ikonki-opis" src="/static/images/ikonki/car.png" />
              {{samochod.moc}} km
              <img
                class="ikonki-opis"
                src="/static/images/ikonki/gasoline-pump.png"
              />
              {{samochod.get_paliwo_display}}
              <img class="ikonki-opis" src="/static/images/ikonki/gears.png" />
              {{samochod.get_skrzynia_biegow_display}}
              <img
                class="ikonki-opis"
                src="/static/images/ikonki/buildings.png"
              />
              {{samochod.miasto}}
            </p>        
          
          <div class="date">
            <a
              href="#"
              data-car-miasto="{{samochod.miasto}}"
              data-car-id="{{samochod.id}}"
              data-okno-target="#okno"
              class="wynajmijButton wiecej"
              role="button"
            ><div data-car-miasto="{{samochod.miasto}}"
              data-car-id="{{samochod.id}}"
              data-okno-target="#okno" class="wiecej">Więcej informacji</div>
            </a>
            {% if request.user.is_authenticated %}
            <a
                href="/dlugoterminowy/wynajmij/{{samochod.typ_auta|lower}}/{{samochod.id}}/"
                class="wynajmijButton"
                role="button"
                ><div>Wypełnij Formularz</div></a>
            {% else %}
              <a href="/logowanie/"
                class="wynajmijButton"
                role="button"
                ><div>Zaloguj się, żeby wypełnić formularz wynajęcia</div></a>
                
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>










<!--Koniec-->

<div class="okno" id="okno">
  <div class="okno_header">
    <div class="okno_title">nazwa wybranego auta</div>
    <button class="okno_close_button">&times;</button>
  </div>
  <hr />
  <div class="okno_body">
    <div><img src="" alt="" /></div>
    <table id="tabela_aut" class="table table-striped">
      <tbody></tbody>
    </table>
  </div>
</div>
<div id="overlay"></div>
<script>

  const data_car={
      {% for miasto in miasta %}
          "{{miasto}}": {
              {% for samochod in samochody %}
                  {% if miasto.id == samochod.miasto_id  %}
                      "{{samochod.id}}": {
                          "id": "{{samochod.id}}",
                          "nazwa": "{{samochod}}",
                          "marka": "{{samochod.marka}}",
                          "model": "{{samochod.model}}",
                          "nr_rejestracyjny": "{{samochod.nr_rejestracyjny}}",
                          "kolor": "{{samochod.kolor}}",
                          "moc": "{{samochod.moc}}",
                          "miasto_id": "{{samochod.miasto}}",
                          "paliwo": "{{samochod.get_paliwo_display}}",
                          "wyposazenie": "{{samochod.wyposazenie}}",
                          "skrzynia": "{{samochod.get_skrzynia_biegow_display}}",
                          "opis": "{{samochod.opis}}",
                          "img": "{{samochod.image.url}}",
                          "zasieg": "{{samochod.zasieg}}",
                          "typ_auta": "{{samochod.typ_auta|lower}}",
                          "pozycja":{
                              x: {{samochod.pozycja.x}},
                              y: {{samochod.pozycja.y}},
                          },
                      },
                  {% endif %}
              {% endfor %}
          },
      {% endfor %}
  }
  console.log(data_car);
</script>
<script src="{% static '/js/przeglad_dlugoterminowy.js' %}"></script>

{% endblock %}
