{% extends 'main.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
    <div id="mapid"></div>
    <style>#mapid { height: 400px;
    width: 600px;
     margin-right: auto;
     margin-left: auto;
     margin-top: 50px;
     margin-bottom: auto; }</style>

     <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>        



    
    <h3>Dodawanie miasta</h3>

        <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Wybierz Miasto
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        {% for i in miasta %}
        <li><a data-nazwa-miasta="{{i.nazwa}}" class="dropdown-item" href="#">{{i.nazwa}}</a></li>
        
        
        {% endfor %}
    </ul>
    </div>


    <table id="tabela_aut" class="table table-striped" style="width: 80%; margin: 1rem auto 4rem auto;">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa samochodu</th>
            <th scope="col">X</th>
            <th scope="col">Y</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


    <script>

        const data_position={

            {% for i in miasta %}
                {{i.nazwa}} : { 
                    x: {{i.pozycja.x}},
                    y: {{i.pozycja.y}},
                    id : {{i.id}}, 
                },
                
            {% endfor %}
        }

        const data_car={
            
            {% for samochod in samochody %}
                {{samochod.marka}} : { x: {{samochod.pozycja.x}}, 
                y: {{samochod.pozycja.y}}, },
            {% endfor %}
        }
    </script>
    <script src="{% static '/js/map_functions_script.js' %}"></script>

    
{% endblock %}