{% extends 'main.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/flota.css' %}">
        <div id="posts">

            <div class="myBechaviour">
                    {% for typ_auta in typy_aut %}
                        <div class="post">
                        
                            <a  name="rent" href="./{{typ_auta.slug}}/" class="postLink" >
                                <div class="postImgContainer">
                                    <img src="../{{typ_auta.grafika}}"  alt="">
                                </div>
                                
                                <hr class="postHeaderHR">
                                <div class="postText">
                                    <pre>
                                        {{typ_auta.nazwa}}

                                    </pre> 
                                </div>
                                <hr class="postFooterHR">
                                <div class="postFooter">
                                    <div class="date">Wynajem krótkoterminowy</div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}

            </div>
    </div>

    <a class="btn btn-primary" href="/dlugoterminowyform" role="button">Wynajem długoterminowy</a>

{% endblock %}