{% extends 'main.html' %} {% load static %} {% block content %}

<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""
/>
<script
  src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""
></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/przeglad.css' %}" />

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"
></script>

<article id="ourMap">
  <div class="header">GDZIE NAS ZNAJDZIESZ?</div>
  <div class="divHR"></div>
  <div class="choice">
    <div class="dropdown">
      <button
        class="btn miastoButton dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Miasta
      </button>
      <ul
        id="miasto"
        class="dropdown-menu"
        aria-labelledby="dropdownMenuButton1"
      >
        {% for i in miasta %}

        <li>
          <a data-nazwa-miasta="{{i.nazwa}}" class="dropdown-item" href="#mapid"
            >{{i.nazwa}}</a
          >
        </li>

        {% endfor %}
      </ul>
    </div>
  </div>
  <div id="mapid"></div>
  <div class="content">
    <table id="tabela_aut" class="">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Samochód</th>
          <th scope="col">Kolor</th>
          <th scope="col">Numer rejestracyjny</th>
          <th scope="col">Zasięg [km]</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</article>

<div class="okno" id="okno">
  <div class="okno_header">
    <div class="okno_title">nazwa wybranego auta</div>
    <button class="okno_close_button">&times;</button>
  </div>
  <hr />
  <div class="okno_body">
    <div><img src="" alt="" /></div>
    <table
      id="tabela_aut"
      class="table table-striped"
      style="width: 100%; margin: 1rem auto 1rem auto"
    >
      <tbody></tbody>
    </table>
  </div>
</div>
<div id="overlay"></div>

<script>

  const data_position={

      {% for miasto in miasta %}
          {{miasto.nazwa}} : {
              x: {{miasto.pozycja.x}},
              y: {{miasto.pozycja.y}},
              id : {{miasto.id}},
          },

      {% endfor %}
  }

  const data_car={
      {% for miasto in miasta %}
          "{{miasto}}": {
              {% for samochod in samochody %}
                  {% if miasto.id == samochod.miasto_id  %}
                      "{{samochod.id}}": {
                          "id": "{{samochod.id}}",
                          "nazwa": "{{samochod}}",
                          "marka": "{{samochod.marka}}",
                          "model": "{{samochod.model}}",
                          "nr_rejestracyjny": "{{samochod.nr_rejestracyjny}}",
                          "kolor": "{{samochod.kolor}}",
                          "moc": "{{samochod.moc}}",
                          "miasto_id": "{{samochod.miasto}}",
                          "paliwo": "{{samochod.get_paliwo_display}}",
                          "wyposazenie": "{{samochod.wyposazenie}}",
                          "skrzynia": "{{samochod.get_skrzynia_biegow_display}}",
                          "opis": "{{samochod.opis}}",
                          "img": "{{samochod.image.url}}",
                          "zasieg": "{{samochod.zasieg}}",
                          "typ_auta": "{{samochod.typ_auta|lower}}",
                          "pozycja":{
                              x: {{samochod.pozycja.x}},
                              y: {{samochod.pozycja.y}},
                          },
                      },
                  {% endif %}
              {% endfor %}
          },
      {% endfor %}
  }

  var data_strefy={

      {% for strefa in strefy %}
          "{{strefa.miasto_id}}": {{strefa.lista_pozycji | safe}},
      {% endfor %}
  }

  {% if request.user.is_authenticated %}
      const authentication = 1;
  {% else %}
      const authentication = 0;
  {% endif %}
</script>
<script src="{% static '/js/przeglad.js' %}"></script>

{% endblock %}
