{% extends 'main.html' %}

{% block content %}

    {% comment %} <form method="POST" action="">
        {% csrf_token %}
        {% for field in form %}
            {{field.label}}
            {{field}}
        {% endfor %}
        <input type="submit" name="Create User">
    </form> {% endcomment %}

    <div class="container">
<form method="POST" action="{% url 'rejestracja' %}">
    {% csrf_token %}
                <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
            <div class="col">
            <div class="form-outline">
                <div class="wprowadzanie">{{form.first_name}}</div>
                <label class="form-label" for="form3Example1">Imię</label>
            </div>
            </div>
            <div class="col">
            <div class="form-outline">
                <div class="wprowadzanie">{{form.last_name}}</div>
                <label class="form-label" for="form3Example2">Nazwisko</label>
            </div>
            </div>
        </div>
    
        <!-- Username input -->
        <div class="form-outline mb-4">
            <div class="wprowadzanie">{{form.username}}</div>
            <label class="form-label" for="form3Example3">Nazwa Użytkownika</label>
        </div>

        <div class="form-outline mb-4">
            <div class="wprowadzanie"> {{form.email}} </div>
            <label class="form-label" for="form3Example3">Email</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <div class="wprowadzanie"> {{form.password1}} </div>
            <label class="form-label" for="form3Example4">Hasło</label>
        </div>

                <!-- Password input -->
        <div class="form-outline mb-4">
            <div class="wprowadzanie"> {{form.password2}} </div>
            <label class="form-label" for="form3Example4">Potwierdź hasło</label>
        </div>

        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center mb-4">
            <input
            class="form-check-input me-2"
            type="checkbox"
            value=""
            id="form2Example3"
            checked
            />
            <label class="form-check-label" for="form2Example3">
            Subscribe to our newsletter
            </label>
        </div>

        <!-- Submit button -->
        <div class="container"><button type="submit" class="btn btn-primary btn-block mb-4">Zarejestruj się</button>
        <a class="btn btn-primary" href="/logowanie" role="button">Masz już konto? Zaloguj się</a></div>
        </form>
        {{form.errors}}
    </div>
{% endblock %}