{% extends 'main.html' %}
{% load static %}


{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/formularz.css' %}" />

<style>
    .wprowadzanie input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
</style>


    {% for message in messages %}
        <p id="messages">{{message}}</p>
    {% endfor %}

    <div class="container">
<form method="POST" enctype="multipart/form-data" action="">
    {% csrf_token %}
        <div class="form-outline mb-4">
            <div class="wprowadzanie"> {{u_form.first_name}} </div>
            <label class="form-label">Imię</label>
        </div>
        <div class="form-outline mb-4">
            <div class="wprowadzanie"> {{u_form.last_name}} </div>
            <label class="form-label">Nazwisko</label>
        </div>
        <div class="form-outline mb-4">
            <div class="wprowadzanie"> {{u_form.email}} </div>
            <label class="form-label">Email</label>
        </div>
        <div class="form-outline mb-4">
            <div class="wprowadzanie"> {{p_form.telefon}} </div>
            <label class="form-label">Numer telefonu</label>
        </div>

        <div class="form-outline mb-4">
            <div class="wprowadzanie"> {{p_form.karta}} </div>
            <label class="form-label">Numer karty płatniczej</label>
        </div>

        <div class="form-outline mb-4">
            <div class="wprowadzanie"> {{p_form.pj_img}} </div>
            <label class="form-label">Zdjęcie prawa jazdy</label>
        </div>

        
        <button type="submit" class="btn btn-primary btn-block mb-4">Uzupelnij Profil</button>
        
        {{form.errors}}
    </div>
{% endblock %}