.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#formularz_dlugi {
  margin-top: 50px;
}

#sectionTitle {
  margin-bottom: 3vh;
  font-size: 3rem;
  color: #ffb300;
  text-align: center;
}

.container form {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container form label {
  margin-bottom: 1vh;
  font-size: 1rem;
  color: #ffb300;
  text-align: center;
}

.container form input {
  text-align: center;
}

.container form button {
  text-align: center;
  margin: 1rem 0rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  background-color: #ffb300;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease !important;
  transition: all 0.2s ease !important;
  -webkit-box-shadow: 2px 2px 5px rgba(10, 10, 10, 0.6);
  box-shadow: 2px 2px 5px rgba(10, 10, 10, 0.6);
  margin-left: auto;
  margin-right: auto;
  color: white;
  border: none;
}

.container form button:hover {
  background-color: #1b1b1b !important;
}

@media (max-width: 576px) {
  #sectionTitle {
    font-size: 2rem;
  }
}
