#mapid {
  height: 50vh;
  width: 80vw;
  margin: 5vh auto;
}

a {
  text-decoration: none;
}

#main_picture {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

#main_picture .maksyma {
  position: absolute;
  left: 20%;
  top: 25%;
  font-size: 2.5rem;
  color: white;
  font-weight: 900;
  text-shadow: 2px 2px 13px rgba(10, 10, 10, 0.6);
}

#main_picture .maksyma span {
  color: #ffb300;
}

#main_picture #welcomeText {
  position: absolute;
  right: 25%;
  top: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  background-color: white;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease !important;
  transition: all 0.2s ease !important;
  -webkit-box-shadow: 2px 2px 13px rgba(10, 10, 10, 0.6);
          box-shadow: 2px 2px 13px rgba(10, 10, 10, 0.6);
}

#main_picture #welcomeText a {
  color: #ffb300;
  font-size: inherit;
  font-weight: inherit;
}

#main_picture #welcomeText:hover {
  background-color: #ffb300;
}

#main_picture #welcomeText:hover a {
  color: white;
}

#main_picture .carousel-indicators,
#main_picture button,
#main_picture #welcomeText,
#main_picture .maksyma {
  z-index: 1506 !important;
}

#main_picture #carouselExampleIndicators {
  height: 60vh;
  position: relative;
}

#main_picture #carouselExampleIndicators::after {
  content: "";
  background-color: #5d5311;
  opacity: 0.8;
  width: 100vw;
  height: 60vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1505;
}

#main_picture #carouselExampleIndicators .carousel-inner .carousel-item img {
  height: 60vh;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#instruction {
  margin: 5vh 0vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#instruction .content {
  padding: 2.5rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffb300;
  width: 50%;
  -webkit-box-shadow: 2px 2px 13px rgba(10, 10, 10, 0.6);
          box-shadow: 2px 2px 13px rgba(10, 10, 10, 0.6);
}

#instruction .content .header {
  font-size: 3rem;
  font-weight: 900;
  color: white;
}

#instruction .content .divHR {
  background-color: white;
  width: 60%;
  height: 2px;
  margin: 1rem 0rem;
}

#instruction .content .description {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-weight: normal;
}

#instruction .content .description span {
  font-weight: 500;
}

#instruction .content .description span span {
  font-weight: 900;
}

#instruction .content .icon {
  font-size: 3rem;
  color: white;
}

#instruction .content #flotaButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  background-color: white;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease !important;
  transition: all 0.2s ease !important;
  -webkit-box-shadow: 2px 2px 5px rgba(10, 10, 10, 0.6);
          box-shadow: 2px 2px 5px rgba(10, 10, 10, 0.6);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#instruction .content #flotaButton a {
  color: #ffb300;
  font-size: inherit;
  font-weight: inherit;
}
/*# sourceMappingURL=index.css.map */