@import "variables.scss";
$wysKatuzeli: 60vh;

#main_picture {
  height: fit-content;
  position: relative;
  // overflow: hidden;

  .maksyma {
    position: absolute;
    left: 20%;
    top: 25%;
    font-size: 2.5rem;
    color: white;
    font-weight: 900;
    text-shadow: 2px 2px 13px rgba(10, 10, 10, 0.6);
    span {
      color: $zolty;
    }
  }

  #welcomeText {
    position: absolute;
    right: 25%;
    top: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 5px;
    transition: all 0.2s ease !important;
    box-shadow: 2px 2px 13px rgba(10, 10, 10, 0.6);
    div {
      color: $zolty;
      font-size: inherit;
      font-weight: inherit;
    }
    &:hover {
      background-color: $zolty;
      div {
        color: white;
      }
    }
  }
  .carousel-indicators,
  button,
  #welcomeText,
  .maksyma {
    z-index: 1506 !important;
  }

  #carouselExampleIndicators {
    height: $wysKatuzeli;
    min-height: 450px;
    position: relative;
    &::after {
      content: "";
      background-color: #5d5311;
      opacity: 0.8;
      width: 100%;
      height: $wysKatuzeli;
      min-height: 450px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 1505;
    }

    .carousel-inner {
      .carousel-item {
        img {
          height: $wysKatuzeli;
          min-height: 450px;
          width: auto;
          object-fit: cover;
        }
      }
    }
  }
}

#instruction {
  margin: 5vh 0vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    padding: 2.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $zolty;
    width: 50%;
    max-width: 650px;
    box-shadow: 2px 2px 13px rgba(10, 10, 10, 0.6);
    .header {
      font-size: 3rem;
      font-weight: 900;
      color: white;
      text-align: center;
    }
    .divHR {
      background-color: white;
      width: 60%;
      height: 2px;
      margin: 1rem 0rem;
    }
    .description {
      text-align: center;
      color: white;
      font-size: 1.5rem;
      font-weight: normal;
      span {
        font-weight: 500;
        span {
          font-weight: 900;
        }
      }
    }
    .icon {
      font-size: 3rem;
      color: white;
    }
    #flotaButton {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 3rem;
      font-size: 1.2rem;
      background-color: white;
      border-radius: 5px;
      transition: all 0.2s ease !important;
      box-shadow: 2px 2px 5px rgba(10, 10, 10, 0.6);
      margin-left: auto;
      margin-right: auto;
      div {
        color: $zolty;
        font-size: inherit;
        font-weight: inherit;
      }
    }
  }
}

#tariff {
  margin: 5vh 0vh;
  padding: 10vh 0vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $zolty;
  .content {
    padding: 2.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $zolty;
    border: 1px solid white;
    width: 50%;
    max-width: 650px;
    .description {
      text-align: center;
      color: white;
      font-size: 1.5rem;
      font-weight: normal;
      span {
        font-weight: 500;
      }
    }
    .icon {
      font-size: 3rem;
      color: white;
    }
    #cenaButton {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 3rem;
      font-size: 1.2rem;
      background-color: white;
      border-radius: 5px;
      transition: all 0.2s ease !important;
      box-shadow: 2px 2px 5px rgba(10, 10, 10, 0.6);
      margin-left: auto;
      margin-right: auto;
      div {
        color: $zolty;
        font-size: inherit;
        font-weight: inherit;
      }
    }
    .image {
      margin-top: auto;
      transform: translate(-40%, 20%);
      width: 70%;
    }
  }
}

#login {
  margin: 8vh 0vh;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  .header {
    font-size: 3rem;
    font-weight: 900;
    color: $zolty;
    text-align: center;
  }
  .content {
    margin-top: 2vh;
    padding: 3rem 5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto minmax(150px, 25vh);
    background-color: white;
    border: 4px solid #e0e0e0;
    width: 50%;
    max-width: 650px;
    .description {
      grid-column: 1/2;
      grid-row: 1/2;
      justify-self: flex-start;
      // margin-left: 10%;
      color: $grafit;
      font-size: 1.2rem;
      line-height: 1.2;
      font-weight: 900;
      #loginButton {
        text-align: center;
        margin: 1rem 0rem;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 3rem;
        font-size: 1.2rem;
        background-color: $zolty;
        border-radius: 5px;
        transition: all 0.2s ease !important;
        box-shadow: 2px 2px 5px rgba(10, 10, 10, 0.6);
        margin-left: auto;
        margin-right: auto;
        div {
          color: white;
          font-size: inherit;
          font-weight: inherit;
        }
        transition: all 0.2s ease;
        &:hover {
          background-color: white;
          div {
            color: $zolty;
          }
        }
      }
    }
    .image {
      grid-column: 1/3;
      grid-row: 2/3;
      margin-top: auto;
      transform: translate(10%, -10%);
      height: 100%;
      display: flex;
      justify-content: flex-end;
      min-height: 150px;

      svg {
        height: 140%;
      }
    }
  }
}

#ourMap {
  background-color: $zolty;
  padding: 5vh 0vh;
  .header {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    text-align: center;
    padding: 0rem 1.5rem;
  }
  .divHR {
    background-color: white;
    width: 60%;
    height: 2px;
    margin: 1rem auto 0rem auto;
  }
  .choice {
    margin: 3vh 0vh;
    .dropdown {
      display: flex;
      justify-content: center;
      .miastoButton {
        width: 200px !important;
        color: $zolty !important;
        background-color: white !important;
        border: 1px solid #e0e0e0;
        box-shadow: 2px 2px 5px rgba(10, 10, 10, 0.6);
      }
      ul {
        width: 200px !important;
      }
    }
  }
  #mapid {
    height: 70vh;
    min-height: 250px;
    width: 100%;
    margin: 0vh auto;
  }
  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3vh;
    #kontaktButton {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 3rem;
      font-size: 1.2rem;
      background-color: white;
      border-radius: 5px;
      transition: all 0.2s ease !important;
      box-shadow: 2px 2px 5px rgba(10, 10, 10, 0.6);

      div {
        color: $zolty;
        font-size: inherit;
        font-weight: inherit;
      }
    }
    .oddzialy {
      text-align: right;
      color: white;
      .oddzialyHeader {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
      .oddzial {
        line-height: 1.5;
      }
    }
  }
}

.popup {
  color: $zolty;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: $small) {
  #main_picture {
    height: fit-content;
    position: relative;
    // overflow: hidden;

    .maksyma {
      top: 25%;
      left: 10%;

      span {
      }
    }

    #welcomeText {
      right: 10%;
      top: 45%;

      div {
      }
      &:hover {
        background-color: $zolty;
        div {
          color: white;
        }
      }
    }
    .carousel-indicators,
    button,
    #welcomeText,
    .maksyma {
      z-index: 1506 !important;
    }

    #carouselExampleIndicators {
      &::after {
        content: "";
      }

      .carousel-inner {
        .carousel-item {
          img {
          }
        }
      }
    }
  }

  #instruction {
    .content {
      width: 80%;
      max-width: 500px;
      .header {
        font-size: 2rem;
      }
      .divHR {
      }
      .description {
        text-align: center;
        color: white;
        font-size: 1.2rem;
        font-weight: normal;
        span {
          font-weight: 500;
          span {
            font-weight: 900;
          }
        }
      }
      .icon {
        font-size: 3rem;
        color: white;
      }
      #flotaButton {
        width: 40%;
        div {
          color: $zolty;
          font-size: inherit;
          font-weight: inherit;
        }
      }
    }
  }

  #tariff {
    .content {
      padding: 2rem 1.5rem;
      width: 80%;
      max-width: 500px;
      .description {
        text-align: center;
        color: white;
        font-size: 1.5rem;
        font-weight: normal;
        span {
          font-weight: 500;
        }
      }
      .icon {
      }
      #cenaButton {
        width: 40%;

        div {
          color: $zolty;
          font-size: inherit;
          font-weight: inherit;
        }
      }
      .image {
        margin-top: auto;
        transform: translate(-40%, 20%);
        width: 70%;
      }
    }
  }

  #login {
    margin: 8vh 0vh;

    .header {
      font-size: 3rem;
      font-weight: 900;
      color: $zolty;
      text-align: center;
    }
    .content {
      width: 80%;
      max-width: 500px;
      .description {
        #loginButton {
          padding: 1rem 2rem;

          div {
          }
          transition: all 0.2s ease;
          &:hover {
            background-color: white;
            div {
              color: $zolty;
            }
          }
        }
      }
      .image {
        grid-column: 1/3;
        grid-row: 2/3;
        margin-top: auto;
        transform: translate(10%, -10%);
        height: 100%;
        display: flex;
        justify-content: flex-end;

        svg {
          height: 140%;
        }
      }
    }
  }

  #ourMap {
    .header {
      font-size: 2.5rem;
    }
    .divHR {
    }
    .choice {
      margin: 3vh 0vh;
      .dropdown {
        .miastoButton {
        }
        ul {
        }
      }
    }
    #mapid {
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-top: 0vh;
      #kontaktButton {
        margin: 3vh 0vh;
        width: 25%;
        min-width: 200px;

        div {
          color: $zolty;
          font-size: inherit;
          font-weight: inherit;
        }
      }
      .oddzialy {
        text-align: center;
        color: white;
        .oddzialyHeader {
          font-size: 1.5rem;
        }
        .oddzial {
        }
      }
    }
  }
}

@media (max-width: $smallest) {
  #main_picture {
    height: fit-content;
    position: relative;

    .maksyma {
      position: absolute;
      left: 10%;
      top: 20%;
      transform: translate(0% -50%);
      font-size: 1.5rem;
      color: white;
      font-weight: 900;
      text-shadow: 2px 2px 13px rgba(10, 10, 10, 0.6);
      span {
        color: $zolty;
      }
    }

    #welcomeText {
      position: static;
      min-width: 150px;
      width: 50%;
      margin: 1.5rem auto;

      background-color: $zolty;

      div {
        color: white;
        font-size: inherit;
        font-weight: inherit;
      }
      &:hover {
        background-color: white;
        div {
          color: $zolty;
        }
      }
    }

    #carouselExampleIndicators {
      &::after {
        content: "";
      }

      .carousel-inner {
        .carousel-item {
          img {
          }
        }
      }
    }
  }

  #instruction {
    margin: 5vh 0vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
      padding: 1.5rem 0.5rem;
      width: 86%;

      .header {
        font-size: 1.5rem;
        font-weight: 900;
        color: white;
        text-align: center;
      }
      .divHR {
        background-color: white;
        width: 80%;
        height: 1px;
        margin: 0.5rem 0rem;
      }
      .description {
        font-size: 1rem;

        span {
          font-weight: 500;
          span {
            font-weight: 900;
          }
        }
      }
      .icon {
        font-size: 2rem;
        color: white;
      }
      #flotaButton {
        width: 50%;
        min-width: 150px;
        padding: 1rem 3rem;
        font-size: 1rem;

        div {
        }
      }
    }
  }

  #tariff {
    margin: 3vh 0vh;
    padding: 3vh 0vh;
    width: 100%;
    .content {
      padding: 1.5rem 0.5rem;
      width: 86%;

      .description {
        font-size: 1.2rem;

        span {
          font-weight: 500;
        }
      }
      .icon {
        font-size: 2rem;
        color: white;
      }
      #cenaButton {
        width: 50%;
        min-width: 150px;
        padding: 1rem 3rem;
        font-size: 1rem;
        div {
        }
      }
      .image {
        margin-top: auto;
        transform: translate(-10%, 20%);
        width: 90%;
      }
    }
  }

  #login {
    margin: 3vh 0vh;
    .header {
      font-size: 2rem;
      font-weight: 900;
    }
    .content {
      padding: 1.5rem 0.5rem 0rem 0.5rem;
      width: 86%;
      margin-top: 2vh;
      display: flex;
      flex-direction: column;
      background-color: white;
      border: 3px solid #e0e0e0;
      .description {
        margin-left: 10%;
        color: $grafit;
        font-size: 1rem;
        line-height: 1.2;
        font-weight: 900;
        #loginButton {
          max-width: 90%;
          width: fit-content;
          min-width: 150px;
          padding: 1rem;
          font-size: 1rem;
          margin: 0.8rem 0rem;

          div {
            color: white;
            font-size: inherit;
            font-weight: inherit;
          }
          transition: all 0.2s ease;
          &:hover {
            background-color: white;
            div {
              color: $zolty;
            }
          }
        }
      }
      .image {
        margin-top: auto;
        transform: translate(0%, -10%);
        display: flex;
        justify-content: flex-end;
        min-height: 150px;
        height: 90%;

        svg {
          min-height: 150px;
          height: 120%;
          max-height: 250px;
        }
      }
    }
  }

  #ourMap {
    padding: 3vh 0vh 5vh 0vh;
    .header {
      font-size: 1.8rem;
    }
    .divHR {
    }
    .choice {
      margin: 3vh 0vh;
      .dropdown {
        .miastoButton {
        }
        ul {
        }
      }
    }
    #mapid {
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-top: 0vh;
      #kontaktButton {
        margin: 3vh 0vh;
        width: 25%;
        min-width: 200px;

        div {
          color: $zolty;
          font-size: inherit;
          font-weight: inherit;
        }
      }
      .oddzialy {
        text-align: center;
        color: white;
        .oddzialyHeader {
          font-size: 1.5rem;
        }
        .oddzial {
          font-size: 1rem;
          padding: 0rem 0.5rem;
        }
      }
    }
  }
}
