@import "variables.scss";

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font;
  scroll-behavior: smooth !important;
}
a {
  text-decoration: none;
}

nav {
  padding: 1.5rem 5vw;
  background-color: $bielNav !important;
  position: sticky !important;
  top: 0px;
  z-index: 3000;
  display: flex;
  align-items: center;
  .navbar-brand {
    padding: 0;
    margin-right: 5vw;
    color: $grafit !important;
    font-size: 1.8rem;
    font-weight: 700 !important;
    span {
      color: $zolty !important;
    }
  }
  #navbarNavAltMarkup {
    div {
      display: flex;
      align-items: center;
      a {
        padding: 0px 1rem;
        color: $grafit !important;
        font-weight: 500 !important;
        font-weight: 1.5rem !important;
        transition: all 0.2s ease;
        &:hover {
          opacity: 0.5;
        }
        &.active {
          color: $zolty !important;
        }
      }
    }
  }
  .navbar-toggler {
    border: none !important;
    color: transparent !important;
  }
}
