@import "variables.scss";
@import "wiecej.scss";

#mapid {
  height: 400px;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: auto;
}
table img {
  max-width: 150px;
}
#okno img {
  max-width: 150px;
}
