// transition: all 0.2s ease;
// border: 1px solid #e0e0e0;
//breakpoints
$large: 1200px;
$small: 992px;
$smallest: 576px;
// max-width

$maxSiteWidth: 2048px;

//kolorki
$fiolet: #7d18e9;
$czerwien: magenta;
$zolty: #ffb300;
$grafit: #1b1b1b;
$bielNav: #fefefe;
//czcionka
$font: "Roboto", "sans-serif";
$basicFontsize: 10px;
