// transition: all 0.2s ease;
// border: 1px solid #e0e0e0;
//breakpoints
$large: 1200px;
$small: 992px;
$smallest: 500px;
// max-width

$maxSiteWidth: 2048px;

//kolorki
$fiolet: #7d18e9;
$czerwien: magenta;
//czcionka
$font: "Gilroy", "sans-serif";
$basicFontsize: 10px;
//navbar
$navHeight: 7vh;
$navElementsPadding: 0.3 * $navHeight;
//footer
$footerFontSizeSmall: 1.5rem;
$footerFontSizeBigger: 2rem;

//wielkość okrągłego zdjęcia mapy
$mapImgSize: 280px; //ten największy
$mapImgSizeCircleSmall: 200px;

$postWidth: 400px;
$postMinHeight: 200px;
$postImgHeight: 30vh;
$postMaxImgHeight: 500px;
